@media (min-width: 640px) {
  .m-container p {
    font-size: 14.5rem;
  }
}

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .pc {
    display: block;
  }
  .grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .grid__content svg {
    width: 60%;
  }
  .container p {
    font-size: 10rem;
  }
}

@media (min-width: 1120px) {
  .container p {
    font-size: 13rem;
  }
}
